@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* ,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.wrapper {
    display: flex;
    justify-content: space-around;
}
.up-email,
.up-pass {
    padding : 6em 2em ;
}

.heading {
    margin: 1.5em 0 ;
    color : #5ec576 ;
}

.old-mail ,
.old-pass ,
.new-mail ,
.new-pass ,
.con-mail ,
.con-pass {
    padding : 1em auto ;
}

.inp {
    width: 300px ;
    height: 40px;
    padding: 1.5em 1em;
    margin : 1.4em 0 ;
}

.sub {
    padding : 12px ;
    background-color: #5ec576;
    border: none ;
    box-shadow: 2px 2px 2px grey;
    border-radius : 30px ;
    cursor:pointer;
}

.sub:hover ,
.sub::after{
    opacity: .9 ;
    transition: all .3s linear;
    


}